<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Demo</title>
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-light bg-light mb-3">
        <span class="navbar-brand mb-0 h1">Demo</span>
    </nav>

    <div class="container" id="app" v-cloak>
        <h4>订阅区</h4>
        <div class="mb-3">
            <select class="custom-select mb-3" v-model='selected'>
                <option disabled value="">请选择</option>
                <option v-for="shop in shops" :value="shop"> {{ shop.name }} </option>
            </select>
            <span>
                <button class="btn btn-primary" @click='subscribe'>订阅</button>
                <span> {{ notation }} </span>
            </span>
        </div>


        <h4>消息区 {{subscribed}}</h4>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">站点</th>
                    <th scope="col">消息</th>
                    <th scope="col">时间</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for='(item, index) in messages'>
                    <th scope="row">{{ index + 1 }}</th>
                    <td>{{ item.shop }}</td>
                    <td>{{ item.content }}</td>
                    <td>{{ item.time }}</td>
                </tr>
            </tbody>
        </table>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.bootcss.com/qs/6.5.2/qs.min.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                shops: [],
                selected: '',
                notation: '',
                messages: [],
                subscribed: []
            },
            methods: {
                subscribe: function () {
                    if (this.selected == '') {
                        this.notation = '请先选择一个交易所'
                    } else {
                        // 此处使用 ajax（RESTful风格）向“服务一”发送注册订阅请求
                        if (app.subscribed.indexOf(app.selected.name) == -1)
                            axios.post('/subscribe/', Qs.stringify({
                                name: 'Xyy',
                                shop: this.selected.id
                            }))
                            .then(function (response) {
                                console.log(response);
                                app.subscribed.push(app.selected.name)
                            })
                            .catch(function (error) {
                                console.log(error);
                            });
                    }
                }
            },
            mounted() {
                // 从服务一获得所有的列表
                axios.get('/shop/all')
                    .then(function (response) {
                        app.shops = response.data
                    })
                // 此处与“服务二”建立 WebSocket 连接，以更新 messages
                var websocket = new WebSocket("ws://localhost:8090/demo/websocket");
                websocket.onopen = function () {
                    alert("WebSocket连接成功");
                }
                websocket.onmessage = function (event) {
                    console.log(event)
                    app.messages.push(JSON.parse(event.data))
                }
            }
        })
    </script>
</body>

</html>